@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam:wght@400;500;700&display=swap');
@import './partials/vars';
@import './partials/general-fixes';
@import './partials/layout';
@import './partials/mixins';
@import './partials/classes';




// Header component

header{
    height: 80px;
    background-color: $white;
    .navbar{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: inherit;
        position: relative;
        .navbar__menu{
            z-index: 10;
            @media screen and (max-width: $tablet){
                position: absolute;
                width: 100%;
            }
            .navbar__mobileicon{
                display: none;
                width: 30px;
                height: 30px;
                @media screen and (max-width: $tablet){
                    display: block;
                    float: right;
                }
                a{
                    width: inherit;
                    height: inherit;
                    display: block;
                    @media screen and (max-width: $tablet){
                        background-image: url(../images/icon-hamburger.svg);
                        background-position: center;
                        background-repeat: no-repeat;
                    }
                    &.--active{
                        background-image: url(../images/icon-close.svg);
                    }
                }
            }
            ul{
                display: flex;
                @media screen and (max-width: $tablet){
                    position: absolute;
                    flex-direction: column;
                    align-items: center;
                    background: $white;
                    width: 100%;
                    top: 60px;
                    display: none;
                }
                .navbar__item{
                    @media screen and (max-width: $tablet){
                        padding: $size-16 $size-20;
                    }
                    padding: 0 $size-20;
                    a{
                        &:hover{
                            color: $darkgrayishblue;
                        }
                    }
                }
            }
        }
        .navabar__cta{
            @media screen and (max-width: $tablet){
                display: none;
            }
        }
    }
}

// Hero Section Component

.hero-section{
    padding: $size-40 0;
    .hero-section__container{
        display: flex;
        align-items: center;
        @media screen and (max-width: $tablet){
            flex-direction: column-reverse;
        }

        .hero-section__cta{
            @media screen and (max-width: $tablet){
                text-align: center;
            }
            p{
                color: $darkgrayishblue;
            }
        }
        .hero-section__img{
            text-align: center;
        }
    }
}

// Benefits Section Component

.benefits-section{
    padding: $size-40 0;
    .benefits-section__container{
        display: flex;
        @media screen and (max-width: $tablet){
            flex-direction: column;
        }
        .benefits-section__question{
            @media screen and (max-width: $tablet){
                text-align: center;
                padding-bottom: 40px;
            }
        }
        .benefits-section__facts{
            .benefits-section__fact{
                .benefits-section__heading{
                    display: flex;
                    align-items: center;
                    @media screen and (max-width: $tablet){
                        &:after{
                            position:absolute;
                            content:"";
                            height:0px;
                            width: 80%;
                            border-top:60px solid lighten($brightred, 30%);
                            right:0;
                        }
                    }
                    .benefits-section__index{
                        @include label;
                        z-index: 3;
                    }
                    .benefits-section__title{
                        z-index: 3;
                    }
                }
                .benefits-section__info{
                    padding-left: 125px;
                    @media screen and (max-width: $tablet){
                        padding-left: 0;
                    }
                }
            }
        }
    }
}




// Backdrop element
.backdrop{
    width: 100%;
    height: 100vh;
    position: absolute;
    right: 0;
    top: 0;
    background-color: hsl(0, 100%, 0%);
    opacity: 0.5;
}
