html, body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Be Vietnam', sans-serif;
    height: 100%;
}

ul{
    list-style: none;
    margin-left: 0;
    padding-left: 0;
}

a{
    text-decoration: none;
    color: inherit;
}
h1, h3{
    margin-bottom: $size-20;
}
p{
    margin-bottom: $size-20;
    color: $darkgrayishblue;
}