/* Colors */

// Primary colors
$brightred: hsl(12, 88%, 59%);
$darkblue: hsl(228, 39%, 23%);

// Neutral

$darkgrayishblue: hsl(227, 12%, 61%);
$verydarkblue: hsl(233, 12%, 13%);
$verypalered: hsl(13, 100%, 96%);
$varylightgray: hsl(0, 0%, 98%);
$white: hsl(0, 100%, 100%);

/* Sizes*/

$size-8: 8px;
$size-12: 12px;
$size-16: 16px;
$size-20: 20px;
$size-24: 24px;
$size-28: 28px;
$size-32: 32px;
$size-36: 36px;
$size-40: 40px;

/* Breakpoints*/ 

$desktop: 1440px;
$tablet: 768px;
$bigmobile: 500px;
$smallmobile: 375px;

